<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> FE-Geography </title>
    <link rel="stylesheet" href="/static/css/Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

   </head>
   <body>
    <nav>
      <div class="menu">
        <div class="logo">
          <a>F-E Project</a>
        </div>
        <ul>
          <li><a href="/home.html">Home</a></li>
          <li><a href="/demand.html">Demand</a></li>
          <li><a href="/skills.html">Skills</a></li>
          <li><a href="/geography.html">Geography</a></li>
            <li><a href="/latest_jobs.html">Latest Jobs</a></li>
        </ul>
      </div>
    </nav>
    <!-- <section>
      <h3>Динамики</h3>
       <div class="row">
        <div class="column">
          <img src="/static/img/salaryandgeo1.jpg" alt="deo1" style="width: 100px">
        </div>
        <div class="column">
          <img src="/static/img/salaryandgeo2.jpg" alt="deo2" style="width:100px">
        </div>
      </section> -->
      <!-- <div class="btns"> -->
        <section>
          <h3>Динамики</h3>
           <div class="img_ge1"> <img src="/static/img/salaryandgeo1.jpg"></div>
           <div class="img_ge2"> <img src="/static/img/salaryandgeo2.jpg"></div>
          </section>

      </div>
    </div>
  </body>
  </html>