<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> About </title>
    <link rel="stylesheet" href="/static/css/Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

   </head>
   <body>
    <nav>
      <div class="menu">
        <div class="logo">
          <a>F-E Project</a>
        </div>
        <ul>
          <li><a href="/home.html">Home</a></li>
          <li><a href="/demand.html">Demand</a></li>
          <li><a href="/skills.html">Skills</a></li>
          <li><a href="/geography.html">Geography</a></li>
            <li><a href="/latest_jobs.html">Latest Jobs</a></li>
        </ul>
      </div>
    </nav>
      
      
      <div class="latest"><h3>
        К последним тенденциям фронтенд-разработки относятся
         Использование фреймворков JavaScript, таких как React, Angular и Vue.js.
        Использование препроцессоров CSS, таких как Sass и Less.
        Использование инструментов сборки JavaScript, таких как Webpack и Grunt.
        Использование систем контроля версий, таких как Git
        Использование инструментов разработчика браузера
        Сосредоточьтесь на адаптивном веб-дизайне и кросс-браузерной совместимости.
        Сосредоточьтесь на доступности и лучших практиках SEO
        Сосредоточьтесь на оптимизации веб-производительности
        Знакомство с облачными сервисами, такими как AWS, Azure и Firebase
        Знакомство с инструментами тестирования интерфейса, такими как Jest, Enzyme, Cypress и Selenium.
        Знание интерфейсных инструментов проектирования, таких как Figma, Sketch и Adobe XD.
        Знакомство с интерфейсными инструментами анимации, такими как Lottie, GSAP и Anime.js.
        Знание систем фронтенд-дизайна
        Знание фронтенд-разработки для PWA (Progressive Web Apps).
        Знакомство с front-end разработкой для AMP (Accelerated Mobile Pages).
        Важно отметить, что фронтенд-разработка постоянно развивается, постоянно появляются новые технологии и тренды, поэтому фронтенд-разработчикам важно быть в курсе последних событий в этой области.<h3></div>
      <!-- <div class="btns"> -->

      </div>
    </div>
  </body>
  </html>