<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> About </title>
    <link rel="stylesheet" href="/static/css/Style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

   </head>
   <body>
    <nav>
      <div class="menu">
        <div class="logo">
          <a>F-E Project</a>
        </div>
        <ul>
          <li><a href="/home.html">Home</a></li>
          <li><a href="/demand.html">Demand</a></li>
          <li><a href="/skills.html">Skills</a></li>
          <li><a href="/geography.html">Geography</a></li>
            <li><a href="/latest_jobs.html">Latest Jobs</a></li>
        </ul>
      </div>
    </nav>
       <div class="img"> <img src="/static"></div>
    <div class="center">
      <div class="title">Skills</div>
      <div class="sub_title">Чтобы работать фронтенд-разработчиком, необходимо иметь знания и опыт со следующими навыками: HTML, CSS и JavaScript Адаптивный веб-дизайн Кроссбраузерная совместимость Манипулирование DOM Фреймворки JavaScript, такие как React, Angular или Vue.js CSS препроцессоры, такие как Sass или Less JavaScript, инструменты сборки, такие как Webpack или Grunt. Контроль версий с помощью Git. Знакомство с браузерными инструментами разработчика. Опыт отладки и устранения неполадок кода. Знакомство с доступностью и передовыми методами SEO.</div>
      <div class="btns">

      </div>
    </div>
  </body>
  </html>